
*.h5
Icer/modules/scan_module/__pycache__/gen.cpython-311.pyc
Icer/modules/scan_module/__pycache__/decoder.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdentVideo.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdent.cpython-311.pyc
Icer/modules/bot_module/__pycache__/bot.cpython-311.pyc
Icer/modules/advert_module/__pycache__/monitor.cpython-311.pyc
Icer/modules/__pycache__/value_manager.cpython-311.pyc
Icer/modules/__pycache__/image_handler.cpython-311.pyc
Icer/modules/__pycache__/database_connector.cpython-311.pyc
Icer/__pycache__/mainAPI.cpython-311.pyc
Icer/modules/advert_module/__pycache__/monitor.cpython-311.pyc
Icer/modules/bot_module/__pycache__/bot.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdent.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdentVideo.cpython-311.pyc
Icer/modules/scan_module/__pycache__/decoder.cpython-311.pyc
Icer/modules/scan_module/__pycache__/gen.cpython-311.pyc
Icer/modules/scan_module/__pycache__/gen.cpython-311.pyc
Icer/modules/scan_module/__pycache__/decoder.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdentVideo.cpython-311.pyc
Icer/modules/advert_module/__pycache__/monitor.cpython-311.pyc
Icer/modules/foodIdent_module/__pycache__/foodIdentVideo.cpython-311.pyc
