.menuNav{


    height:100%;
    margin: auto;
    justify-content: center;

    background: #F8F8F8;
    grid-area: topNav;
}
.menuNavDiv{
    padding:5px;
    margin-right:20px;
}
.menuNavDiv a{
    text-decoration: none;

}
.menuNavDiv a:visited{
    color:black;

}
.menuNavDiv a:link{
    color:black;

}