

.shoppingListConainer{
    margin:1vh 1vw 1vh 1vw;
    display: flex;
    min-height: 98vh;
    flex-direction: column; /* stack children vertically */
    justify-content: space-between;
}

.shoppingList{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-bottom: 2vh;
    background-color: #d7d7d7;

}
.shoppingList:last-child{
    padding-bottom: 0;
}

.shoppingListName{
    width:20%;
    margin:0;

}
.shoppingListQuantity, .shoppingListPrice{
    margin:0;
}
.shoppingListSpace{
    width:20%;

}

.shoppingListDeleteIconButton{
    position:relative;
    display:flex;
    align-items: center; /* Center the icon vertically */
    justify-content: flex-end; /* Align the icon to the right */
    width:20%;
    padding-right: 5%;
    height:100%;

}

.shoppingListDeleteIcon{

    font-size:3vw ;
    height: 100%;

}
.deleteAllButtons{
    display: flex;
    position: sticky;

    width:100%;
}
