
.handleAddToCartButtonDiv{

    height:10vh;
    display: flex;
    margin: 0.5vh 1vw 0.5vh 1vh;
    align-items: center;

}
.handleAddAllCartButton{
    position: relative;

    background-color: #deeffc;
    width:100%;
    height:100%;
    border-radius: 10px;
}
.topInfoShoppingCart{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;

    height:5vh;
    border-radius: 10px;
    background-color: #d7d7d7;

    margin: 0.5vh 1vw 0.5vh 1vh;
}


.shoppingListConainer{
    margin: 0 1vw 0.5vh 1vh;
    display: flex;
    height:72.5vh;
    flex-direction: column; /* stack children vertically */
    justify-content: space-between;
    overflow-y: auto;
}

.shoppingList{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:10vh;
    border-radius: 10px;
    background-color: #d7d7d7;
    margin-bottom: 1px;


}


.shoppingList Input {
    font-family: inherit; /* Użyj tej samej czcionki co inne elementy */
    font-size: inherit; /* Użyj tego samego rozmiaru czcionki */
    color: inherit; /* Użyj tego samego koloru tekstu */
    background-color: #f0f0f0; /* Dostosuj kolor tła */
    border: none; /* Usuń ramkę */
    padding: 1vh; /* Dostosuj padding */
     /* Dostosuj margines */
    justify-content: space-around;
    border-radius:20px;
}


.shoppingList Input:focus {
    outline: none;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* lekki cień podczas fokusowania */
}
.shoppingList:last-child{
    padding-bottom: 0;
}

.shoppingListName{
    min-width:30%;
    margin:0;

}
.topInfoShoppingListName{
    width:30%;
}
.shoppingListNameInput{
    width:100%;
}

.shoppingListNameInputDiv{
    width: 30%;
    margin-left: 1vw;
}

.shoppingListPrice{
    width: 10%;

}
.topInfoShoppingListPrice{

    width:15%;

}


.shoppingListQuantityInput{
    width: 80%;

}

.shoppingListQuantityInputDiv{
    width: 10%;
    margin-left: 2vw;
}

.shoppingListPriceInput{
   width:100%;
}
.shoppingListNameInputDivPrice, .shoppingListNameInputDivQuantity, .shoppingListNameInputDivName{
    margin-top:0;
    margin-bottom:0.5vh;
}
.shoppingListPriceInputDiv{
    width: 12%;
}
.shoppingListQuantity{
    width: 10%;

}
.topInfoShoppingListQuantity{
    width:15%;
}
.shoppingInputDivWithInputName{
    display:flex;
    flex-direction: column;
}


.shoppingListDeleteIconButton{
    position:relative;
    display:flex;
    align-items: center; /* Center the icon vertically */
    justify-content: flex-end; /* Align the icon to the right */
    width:20%;
    padding-right: 5%;
    height:100%;

}

.shoppingListDeleteIcon{

    font-size:3vw;
    height: 100%;

}
.deleteAllButtonDiv{
    position: sticky;
    bottom: 0;
    display: flex;
    height:10vh;
    margin: 0 1vw 0.5vh 1vh;
    align-items: center;

}
.handleDeleteAllCartButton{
    position: relative;

    background-color: #deeffc;
    width:100%;
    height:100%;
    border-radius: 10px;
}

.handleDeleteAllCartButton:hover{

    background-color: #38729d;
}