/*kontener z formularzem*/
.productContainerDiv {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;

}
/*kontener z formularzem*/
.addProductForm {

    display: flex;
    flex-direction: column;
    min-width: 40%;
    border-radius: 20px;
    max-height: 90vh;
    padding:2vh 1vw 2vh 1vw;
    font-size: calc(0.7vw + 0.7vh);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*etykiety formularza*/
.addProductForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
/*tekst formularza w znaczniku h5 w etykietach*/
.addProductForm label h5 {
    margin:0 ;

}
/*pola wejściowe formularza*/
.addProductForm input {

    padding: 0.5vh 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:80%;
}
/*kontener z przyciskiem dodania produktu*/
.AddProductButtonDiv{
    align-items: center;
}
/*przycisk dodania produktu*/
.addProductButton {
    padding: 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    margin:0;
    width:90%;

}
/*znacznik h4 przycisku dodawania produktu*/
.addProductButton h4{
    margin:1vh;
}

/* kontener sekcji dodawania poprzez zdjęcie /filmik */
.addPhotoDiv{
    text-align: center;
    margin-bottom:1vh;
}

/* wewnętrzny kontener sekcji dodawania poprzez zdjęcie /filmik */
.image-options{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
/* etykiety kontenera image-options */
.image-options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

/* Stylowanie ikon klasy addPhotoDiv i scanners*/
.addPhotoDiv .iconify, .scanners .iconify {
    font-size: 48px;

}

.addPhotoFromDir,.addPhotoByCamera , .scannerLabel{
    width:50%;
}
{/* kontener dodawania zdjęcia */}
.addPhotoFromDir{
    position: relative;
    display:flex;
}
{/* etykiety w klasie scanners */}
.scanners label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
{/* kontener ze skanerem */}
.scanners {
    display: flex;
    justify-content: center;
    align-items: center;

}
{/* przycisk dodawania produktu po najechaniu */}
.addProductButton :hover {
    background-color: #45a049;
}
/* kontener z torbą */
.backpackAddProduct {
    position: relative;
    display: inline-block; /* Zapewnia, że kontener zachowuje wymiary obrazu */
    height:100%;
    width:100%;

}
/* ilość produktów w torbie */
.backpackCounter {
    position: absolute; /* Absolutne pozycjonowanie licznika względem obrazu plecaka */
    top: 10%;
    right: 10%;
    background-color: red;
    color: white;

    padding: 1px;
    font-size: 1em; /* rozmiar czcionki licznika */
}
/* kontener do zmniejszania ilości produktów w torbie i dodawania ich do formularza */
.backpackAddProductDiv{

    max-height:20%;
    max-width:20%;
    min-height:15%;
    min-width:15%;
    position:relative;

}
{/* absolutny kontener z opcjami po naciśnięciu */}
.cameraOptions {
    /* ... existing styles ... */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    z-index: 10; /* Ensure it's above other elements */
}

{/* kontener z opcjami relatywny*/}
.cameraOptionsRelative{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4vw;
}


{/*  podgląd obrazu identyfikacji */}
.imageForIdentyficationURLDiv{
    position:fixed;
    height:50vh;
    width:50vw;
    top:25%;
    left:25%;
    z-index: 100; /* ma być na wierzchu */
    justify-content: center;


}
{/* wewnętrzny kotener podglądu obrazu identyfikacji */}
.imageForIdentyficationURLDivRelative{

    position: relative;
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; /* Add this line */
}
{/* obrazek podglądu identyfikacji */}
.scannedFoodImage{
    border-radius: 10%;
    position:relative;
    display: flex;
    width:100%;
    height:100%;
}

{/* przycisk decydujący o tym czy identyfikować zdjęcie */}
.sendButtonForFoodIdentyfication{
    position: relative;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
    margin: auto;
    background-color:green;
    border-radius: 10px;
}
{/* kontener, który posiada opcje identyfikacji po zdjęciu oraz kontener, który identyfikuje po filmie*/}
.leftCameraOption, .rightCameraOption{
    position:relative;
    display:flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10%;
    padding:0.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:0.2vh;
    transition: transform 0.2s;
}
/* kontener posiadający obraz wideo z api */
.rightCameraOptionUsed{
    position:relative;
    bottom:1%;
    right:0;
    width:100vw;
    height:100vh;
    z-index: 100;/* na wierzchu */

}
/*obraz wideo z api*/
.rightCameraOptionView{
    position:relative;
    display:flex;
    height:100%;
    width:100%;
}
/*przycisk zatrzymywania identyfikacji żywności*/
.stopCameraButton{
    z-index: 1000;/* aby był widoczny */
    position:relative;
    bottom: 15vh;
    left:42.5%;
    height:15vh;
    width:15vw;
}
/* ikona przycisku zatrzymywania identyfikacji żywności*/
.stopCameraButtonIcon{
    position:relative;
    height:100%;
    width:100%;
}

/*opcje identyfikacji po najechaniu*/
.leftCameraOption:hover, .rightCameraOption:hover{
    transform: scale(1.1);/*powiększenie się o 10%*/
}

/*dla ekranów o maksymalnej szerokości 1200px*/
@media only screen and (max-width: 1200px) {
    .addProductForm {

        font-size: calc(1vw + 1vh);
        min-width: 60%;

    }
    .scanners {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
/*dla ekranów o maksymalnej szerokości 768px*/
@media only screen and (max-width: 768px) {
    .addProductForm {

        font-size: calc(1.1vw + 1.1vh);
        min-width: 75%;
    }

}
/*dla ekranów o maksymalnej szerokości 480px*/
@media only screen and (max-width: 480px) {
    .addProductForm {
        max-width: 90%;;
        font-size: 4vw;
        padding:1vh 0.5vw 1vh 0.5vw;
    }

}
/*dla ekranów z ekranem dotykowym*/
@media (pointer: coarse){

    .barcodeIcon, .qrIcon, .addPhotoFromDirIcon,.addPhotoByCameraIcon {
        width: 10vw;
        height: 10vh;
    }

}
/*dla ekranów o maksymalnej wysokości 800px*/
@media only screen and (max-height: 800px) {

    .barcodeIcon, .qrIcon, .addPhotoFromDirIcon,.addPhotoByCameraIcon {
        width: 7vw;
        height: 7vh;
    }

}
