.productContainerDiv {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Viewport height */
    width: 100%; /* Viewport width */
    border-radius: 4px;

}
.addProductForm {

    display: flex;
    flex-direction: column;
    min-width: 40%;
    border-radius: 20px;
    max-height: 90vh;
    padding:2vh 1vw 2vh 1vw;
    font-size: calc(0.7vw + 0.7vh);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.addProductForm label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.addProductForm label h5 {
    margin:0 ;

}

.addProductForm input {

    padding: 0.5vh 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:80%;
}
.AddProductButtonDiv{
    align-items: center;
}
.addProductButton {
    padding: 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    margin:0;
    width:90%;

}
.addProductButton h4{
    margin:1vh;
}

.addPhotoDiv{
    text-align: center;
    margin-bottom:1vh;
}


.image-options{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.image-options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

/* Stylowanie ikon */
.addPhotoDiv .iconify, .scanners .iconify {
    font-size: 48px; /* Dostosuj rozmiar ikon do swoich potrzeb */

}

.addPhotoFromDir,.addPhotoByCamera , .scannerLabel{
    width:50%;
}

.addPhotoFromDir{
    position: relative;
    display:flex;
}
.scanners label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.scanners {
    display: flex;
    justify-content: center;
    align-items: center;

}

.addProductButton :hover {
    background-color: #45a049;
}

.backpackAddProduct {
    position: relative; /* Ustaw kontener obrazu jako element nadrzędny dla licznika */
    display: inline-block; /* Zapewnia, że kontener zachowuje wymiary obrazu */
    height:100%;
    width:100%;

}

.backpackCounter {
    position: absolute; /* Absolutne pozycjonowanie licznika względem obrazu plecaka */
    top: 10%; /* Dostosuj tę wartość, aby umieścić licznik w odpowiednim miejscu */
    right: 10%; /* Dostosuj tę wartość, aby umieścić licznik w odpowiednim miejscu */
    background-color: red; /* Tło licznika, można zmienić */
    color: white; /* Kolor tekstu licznika, można zmienić */
     /* Sprawia, że licznik jest okrągły */
    padding: 1px; /* Dostosuj padding dla licznika */
    font-size: 1em; /* Dostosuj rozmiar czcionki licznika */
}

.backpackAddProductDiv{

    max-height:20%;
    max-width:20%;
    min-height:15%;
    min-width:15%;
    position:relative;

}

.cameraOptions {
    /* ... existing styles ... */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    z-index: 10; /* Ensure it's above other elements */
}
.cameraOptionsRelative{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4vw;
}
.stopCameraButton{
    z-index: 1000;
    width:50%;
    height:20%;
}


.imageForIdentyficationURLDiv{
    position:fixed;
    height:50vh;
    width:50vw;
    top:25%;
    left:25%;
    z-index: 100;
    justify-content: center;


}
.imageForIdentyficationURLDivRelative{

    position: relative;
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center; /* Add this line */
}
.scannedFoodImage{
    border-radius: 10%;
    position:relative;
    display: flex;
    width:100%;
    height:100%;
}
.sendButtonForFoodIdentyfication{
    position: relative;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
    margin: auto;
    background-color:green;
    border-radius: 10px;
}
.cameraOption {
    background-color: #f0f0f0; /* Light background for visibility */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 100px; /* Set a fixed width */
}
/* Add styles for the new camera options */

.leftCameraOption, .rightCameraOption{
    position:relative;
    display:flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10%;
    padding:0.5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:0.2vh;
    transition: transform 0.2s;
}
.rightCameraOptionUsed{
    position:relative;
    bottom:1%;
    right:0;
    width:100vw;
    height:100vh;
    z-index: 100;

}
.rightCameraOptionView{
    position:relative;
    display:flex;
    height:100%;
    width:100%;
}
.stopCameraButton{
    position:relative;
    bottom: 15vh;
    left:42.5%;
    height:15vh;
    width:15vw;
}
.stopCameraButtonIcon{
    position:relative;
    height:100%;
    width:100%;
}
.identificationVideo{
    position:absolute;

    height:500px;
    width:500px;

}
.leftCameraOption:hover, .rightCameraOption:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 1200px) {
    .addProductForm {
        /* Pozwala formularzowi zajmować większą część ekranu na tabletach */
        font-size: calc(1vw + 1vh);
        min-width: 60%;

    }
    .scanners {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media only screen and (max-width: 768px) {
    .addProductForm {
        /* Pozwala formularzowi zajmować większą część ekranu na tabletach */
        font-size: calc(1.1vw + 1.1vh); /* Możesz dostosować rozmiar czcionki */
        min-width: 75%;
    }

}

@media only screen and (max-width: 480px) {
    .addProductForm {
        max-width: 90%;; /* Pozwala formularzowi zajmować całą szerokość ekranu na telefonach */
        font-size: 4vw;
        padding:1vh 0.5vw 1vh 0.5vw;
    }

}

@media (pointer: coarse){

    .barcodeIcon, .qrIcon, .addPhotoFromDirIcon,.addPhotoByCameraIcon {
        width: 10vw;
        height: 10vh;
    }

}
@media only screen and (max-height: 800px) {

    .barcodeIcon, .qrIcon, .addPhotoFromDirIcon,.addPhotoByCameraIcon {
        width: 7vw;
        height: 7vh;
    }

}
