
.addProductForm {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 10vh auto;
    padding:2vh 1vw 2vh 1vw;
    font-size: calc(0.7vw + 0.7vh);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.addProductForm label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.addProductForm input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addProductButton {
    padding: 1vh 2vw;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;

}

.scanners{
    display:none

}

.addProductButton :hover {
    background-color: #45a049;
}

@media only screen and (max-width: 1200px) {
    .addProductForm {
        /* Pozwala formularzowi zajmować większą część ekranu na tabletach */
        font-size: calc(1vw + 1vh);
        max-width: 60%;
        margin: 5vh auto;
    }
}
@media only screen and (max-width: 768px) {
    .addProductForm {
         /* Pozwala formularzowi zajmować większą część ekranu na tabletach */
        font-size: calc(1.1vw + 1.1vh); /* Możesz dostosować rozmiar czcionki */
        max-width: 75%;
        margin: 2vh auto;
    }
}

@media only screen and (max-width: 480px) {
    .addProductForm {
        max-width: 90%;; /* Pozwala formularzowi zajmować całą szerokość ekranu na telefonach */
        font-size: 4vw;
        margin: 0.2vh auto;
        padding:1vh 0.5vw 1vh 0.5vw;
    }
}

@media (pointer: coarse){

    .scanners {
        display: flex;
        justify-content: center;
        height: 10vh;

        margin-left: 2vw;
        margin-right: 2vw;
    }
    .scanners div {
        flex: 1;

    }
    .qrDiv{

    }
    .qrIcon{
        width: 10vw;
        height: 10vh;

    }

    .barcodeIcon {
        width: 10vw;
        height: 10vh;
    }
}