.addProductForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    font-size: calc(0.7vw + 0.7vh);
}

.addProductForm label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.addProductForm input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addProductButton {
    padding: 1vh 2vw;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;

}

.scanners{
    display:none

}

.addProductButton :hover {
    background-color: #45a049;
}

@media only screen and (max-width: 768px) {
    .addProductForm {
        max-width: 95%; /* Pozwala formularzowi zajmować większą część ekranu na tabletach */
        font-size: 3.5vw; /* Możesz dostosować rozmiar czcionki */
    }
}

@media only screen and (max-width: 480px) {
    .addProductForm {
        max-width: 100%; /* Pozwala formularzowi zajmować całą szerokość ekranu na telefonach */
        font-size: 4vw; /* Możesz dostosować rozmiar czcionki */
    }
}

@media (pointer: coarse){

    .scanners {
        display: flex;
        justify-content: center;
        height: 10vh;

        margin-left: 2vw;
        margin-right: 2vw;
    }
    .scanners div {
        flex: 1;

    }
    .qrDiv{

    }
    .qrIcon{
        width: 10vw;
        height: 10vh;

    }

    .barcodeIcon {
        width: 10vw;
        height: 10vh;
    }
}