
.productItem {

    position: relative;

    flex: 1 0 35%;

    margin: 0.4vh 0.2vw;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: calc(1vw + 1vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-size: 100% 100%;
    background-position: center; /* Ustala, że obraz ma być wyśrodkowany */
    backdrop-filter: blur();
}


.LargeProductItemContainer {
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.productItemSmall.hidden {
    display: none; /* Ukryj produkt */
}

.productItemSmallContainer {
    position: relative;
    height: 6vw;
}

.productItemSmall {

    position: relative;

    flex: 0 1 6vw;
    height: 20%;
    margin: 0.4vh 0.2vw;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: calc(1vw + 1vh);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-size: 100% 100%;
    background-position: center; /* Ustala, że obraz ma być wyśrodkowany */
    backdrop-filter: blur();
}

.productItemSmall.selected {
    display: flex;
    flex: 1 0 80%; /* Zajmuj całą szerokość dla powiększonego produktu */
    /* Pozostałe style dla powiększonego produktu */
    position: relative;
    justify-content: flex-end;
    height: 100%;
    transition: all 0.3s ease; /* Płynna animacja */

}


.productItem.hidden:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    backdrop-filter: blur(5px); /* Dostosuj wartość blura według potrzeb */
    z-index: -1; /* Umieść pod elementem .productItem */
}



.moveToBinConfirmationDiv {
    position: relative;
    display: flex;

    flex-direction: column;
    height: 100%;


}

.moveToBinConfirmationInfoHeader {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;

}

.moveToBinConfirmationButtons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
}

.moveToBinConfirmationButton, .moveToBinDeclineButton {
    width: 50%;
    height: 100%;
}

.moveToBinConfirmationButton {
    background-color: red;
    text-align: center;
    border-radius: 4px;

    margin-right: 1vw;
}

.moveToBinDeclineButton {
    background-color: #4caf50;
    text-align: center;
    border-radius: 4px;

}

.moveToBinConfirmationButton:hover {
    background-color: #D9214CFF;

}

.moveToBinDeclineButton:hover {
    background-color: #45a049;

}


.card.hidden {
    visibility: hidden;
}


.productItem h2 {
    font-size: calc(1vw + 1vh);
    margin-bottom: 0.7vh;
}

.productItem h3 {
    font-size: calc(0.7vw + 0.7vh);
    margin-bottom: 1vh;
}

.productItem div {
    margin: 0.7vh 0;
}

.decreaseProduct {
    background-color: red;
    text-align: center;
    border-radius: 4px;
    padding: calc(0.2vw + 0.2vh) calc(0.4vw + 0.4vh);
    transition: transform 0.3s ease;

}

.increaseProduct {
    background-color: #4caf50;
    text-align: center;
    border-radius: 4px;
    padding: calc(0.2vw + 0.2vh) calc(0.4vw + 0.4vh);
    transition: transform 0.3s ease;
}

.productItemQuantityDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityControl {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
}

.quantityControlLarge {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
}

.quantityControl span, .quantityControlLarge span {
    margin: 0 2.5vw;
}


.productItem button h2 {
    font-size: calc(0.7vw + 0.7vh);
    margin: 0;
}

.decreaseProduct:hover {
    background-color: #D9214CFF;
    transform: scale(1.1);
}

.increaseProduct:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.decreaseProduct .iconifyIcon, .increaseProduct .iconifyIcon {
    /* Dodaj przejście dla płynnego efektu */
    transition: transform 0.3s ease;
}

.decreaseProduct:hover .iconifyIcon, .increaseProduct:hover .iconifyIcon {
    /* Zastosuj transformację skalowania podczas najechania */
    transform: scale(1.4); /* Przykład: powiększa ikonę do 120% jej pierwotnego rozmiaru */
}

.iconContainer {
    display: flex;

    gap: 0.5vw;
}

.removeButton, .editButton {
    display: flex; /* zmieniaj przyciski w kontenery flexa, aby ikony mogły się rozciągnąć */
    justify-content: center; /* wyśrodkuj ikony w poziomie */
    align-items: center; /* wyśrodkuj ikony w pionie */
    width: 100%; /* zapewnij, że przyciski zajmują całą dostępną szerokość */
    height: 100%; /* zapewnij, że przyciski zajmują całą dostępną wysokość */
    padding: calc(0.2vw + 0.2vh) calc(0.4vw + 0.4vh);
    border-radius: 4px;
}

.removeButton {
    background-color: red;

}

/* Dla przycisków edycji */
.editButton {
    background-color: #4caf50;

}

/* Dla ikon wewnątrz przycisków */
.iconifyIcon {
    font-size: calc(1vw + 1vh); /* Ustawić rozmiar fontu ikon na podobny rozmiar co przyciski + i - */
    color: white; /* Ustawić kolor ikon na biały, tak jak tekst w przyciskach + i - */
    width: 100%; /* Ustawić szerokość ikony na 100% */
    height: 100%; /* Ustawić wysokość ikony na 100% */
}

.removeButton:hover {
    background-color: #D9214CFF;

}

.editButton:hover {
    background-color: #45a049; /* Kolor tła podczas najechania */
}

.removeButton:hover .iconifyIcon, .editButton:hover .iconifyIcon {
    filter: brightness(0.8); /* Lekkie przyciemnienie ikony podczas najechania */
}

.iconifyIcon {
    vertical-align: middle; /* wyśrodkowuje ikony w przyciskach */
}


@media only screen and (max-width: 600px) {
    .productItem {
        flex: 1 0 90%; /* Zajmij całą dostępną szerokość kontenera */
    }

    .productItem h2 {
        font-size: calc(1.2vw + 1.2vh);
        margin-bottom: 1vh;
    }

    .productItem div {
        margin: 0.8vh 0;
    }

    .productItem button {
        padding: 1vh 2vh;
    }
}

