.navExpandButton{
  position:absolute;

}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
  background: #F8F8F8;

}
.logo{

  width:40%;
  height: 40%;

  transition-property: width, height;
  transition-duration: 0.5s ;
  transition-timing-function: ease-in;


}
.smallLogo{
  width:60%;
  height: 60%;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.body {
  margin:auto;
  width: 90vw;
  height: 94vh;
  position: relative;
  display: grid;

  transition: grid 0.5s ease-out 0.1s;
  grid:
    "all menu" 1fr
    / auto 25%;
}
.body-slimMenu {
  margin:auto;
  width: 90vw;
  height: 94vh;
  position: relative;
  display: grid;

  grid:
    "all slimMenu" 1fr
    / auto 10%;
  transition: grid 0.5s ease-out 0.10s;
}
.wholeContainer{

  grid-area: all;
  text-align: center;

}
.slimMenu{
  position:relative;
  height: 100%;

  grid-area: menu;
  background: #F8F8F8;

}
.menu{
  position:relative;
  height: 100%;

  grid-area: menu;
  background: #F8F8F8;


}
.menuNav{
  position:relative;
  height: 100%;
  width: 100%;
  justify-content: center;

  background: #F8F8F8;

}
.navDiv{
  padding:1vh;

  text-align: center;
  align-items: center;
}
.menuIcons{

  width:40%;
  height: 40%;
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.navDiv a{
  text-decoration: none;

}
.navDiv a:visited{
  color:black;

}
.navDiv a:link{
  color:black;

}
.menuNavButton{

  margin:auto;
  display:grid;
  border:none;
  background-color: #F8F8F8;
}

.invisible{
  display:none;
}
.navDiv h3{
  font-size: 1.3vw;
}