
.body {
  margin:auto;
  width: 90vw;
  height: 94vh;
  position: relative;
  display: grid;
  grid:
    "all appNav" 1fr
    / auto 25%;

  border:1px solid red;


}
.wholeContainer{

  grid-area: all;
  text-align: center;
  border:1px solid black;
}
.menu{
  height:100%;
}
.menuNav{
  position: absolute;
  height: 100%;
  width:100%;
  justify-content: center;

  background: #F8F8F8;
  grid-area: appNav;
}
.navDiv{
  padding:5px;

  text-align: center;
  align-items: center;
}
.navDiv a{
  text-decoration: none;

}
.navDiv a:visited{
  color:black;

}
.navDiv a:link{
  color:black;

}
.menuNavExpandButton{

  margin:auto;
  display:grid;
  border:none;
  background-color: #F8F8F8;
}

.invisible{
  display:none;
}
.navDiv h3{
  font-size:15px;
}