.full{
  font-size: 1em;
}
button {  /* resetting button styles */
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: inherit;
}

.navExpandButton{
  position:absolute;

}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
  background: #F8F8F8;

}

.logo{

  width:40%;
  height: 40%;

  transition-property: width, height;
  transition-duration: 0.5s ;
  transition-timing-function: ease-out;


}
.smallLogo{
  width: 60%;
  height: 60%;
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.body {
  margin:auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;

  transition: grid 0.5s ease-out 0.1s;
  grid:
    "all menu" 1fr
    / auto 20%;
}
.body-slimMenu {
  margin:auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;

  grid:
    "all slimMenu" 1fr
    / auto 8%;
  transition: grid 0.5s ease-out 0.10s;
}
.wholeContainer{

  grid-area: all;
  text-align: center;

}
.slimMenu{
  position:absolute;
  height: 100%;
  width:100%;
  grid-area: slimMenu;
  background: #F8F8F8;

}
.menu{
  position:absolute;
  height: 100%;
  width:100%;
  grid-area: menu;
  background: #F8F8F8;


}
.menuNav{
  position:relative;
  height: 100%;
  width: 100%;
  justify-content: center;

  background: #F8F8F8;

}
.navDiv{
  position:relative;
  padding:1vh;
  height: 10vh;
  text-align: center;
  align-items: center;
  overflow-wrap: break-word;


}
.navDivMain{

  position:relative;
  padding:1vh;
  height: 10vh;
  text-align: center;
  align-items: center;
  overflow-wrap: break-word;

}

.menuIcons{

  width:4vw;
  height: 4vh;
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

}

a{
  text-decoration: none;

}
a:visited{
  color:black;

}
a:link{
  color:black;

}
.menuNavButton{

  margin:auto;
  display:grid;
  border:none;
  background-color: #F8F8F8;
}

.invisible{
  display:none;
}
.navDiv h3{
  font-size: 120%;
}