::-webkit-scrollbar { width: 0; }

.full{
    /*font-size: clamp(12px, 1.2vw, 20px);*/
    font-size: calc((1.5vw + 1.5vh) / 2);

}
button {  /* resetting button styles */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: inherit;
}

.navExpandButton{
    position:absolute;


}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    background: #F8F8F8;
    margin-bottom: 2px;

}

.logo{


    width:50%;
    height: 50%;

    transition-property: width, height;
    transition-duration: 0.5s ;
    transition-timing-function: ease-out;


}
.smallLogo{
    width: 65%;
    height: 65%;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.body {
    margin:auto;
    width: 100vw;
    height: 99vh;
    position: relative;
    display: grid;
    
    transition: grid 0.5s ease-out 0.1s;
    grid:
    "all menu" 1fr
    / 79.5% 20%;
}
.body-slimMenu {
    margin:auto;
    width: 100vw;
    height: 99vh;
    position: relative;
    display: grid;

    grid:
    "all slimMenu" 1fr
    /  91.5% 8%;
    transition: grid 0.5s ease-out 0.10s;
}
.wholeContainer{
    position: relative;
    grid-area: all;
    text-align: center;
    background-color: white;
    width:100%;
    height:100%;
}
.slimMenu{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width:8vw;
    transition: width 0.5s ease-out 0.10s;

    grid-area: slimMenu;
    background: #F8F8F8;
    overflow-y: auto;
}

.menu {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    width: 20vw;
    transition: width 0.5s ease-out 0.10s;
    grid-area: menu;
    background: #F8F8F8;
    overflow-y: auto; /* Dodaj pionowy scroll, jeśli zawartość przekracza wysokość menu */
}
.menuNav{
    position:relative;
    height: 100%;
    width: 100%;
    justify-content: center;

    background: #F8F8F8;

}
.navDiv{
    position:relative;
    padding:1vh ;
    height: 10vh;
    text-align: center;
    display:grid;
    align-items: center;

    overflow-wrap: break-word;
    justify-content: center;
    border-bottom: #F2F2F5 1px solid;

}
.navDivMain{
    position:relative;
    padding:1vh ;
    height: 10vh;
    text-align: center;
    display:grid;
    align-items: center;

    overflow-wrap: break-word;
    justify-content: center;
    border-bottom: #F2F2F5 1px solid;
}

.menuIcons{

    width:4vw;
    height: 4vh;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}

a{
    text-decoration: none;

}
a:visited{
    color:black;

}
a:link{
    color:black;

}
.menuNavButton{

    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    margin:auto;

    border:none;
    background-color: #F8F8F8;
}

.invisible{
    display:none;
}
.navDiv h3{
    font-size: 120%;
}
.space{
    margin-right:1vw;

}


@media only screen and (min-width: 1200px) {

    .body {

        grid:
    "all menu" 1fr
    / 83.5% 16%;
    }
    .menu{

        width: 16vw;

    }
    .body-slimMenu{
        grid:
    "all slimMenu" 1fr
    /  94.5% 5%;

    }
    .slimMenu{
        width:5.4vw;
    }
    .navDiv, .navDivMain{

        padding:calc(0.5vw + 0.5vh / 2) ;

    }



}


@media only screen and (max-width: 800px) {

    .body {

        grid:
    "all menu" 1fr
    / 75.5% 24%;
    }
    .menu{

        width: 24vw;

    }
    .smallLogo{
        width:70%;
        height: 70%;
    }
    .logo {


        width: 55%;
        height: 55%;
    }
    .menuIcons{
        width: 4.3vw;
        height:4.3vh;


    }


}
@media only screen and (max-width: 500px) {

    .body-slimMenu{
        grid:
    "all slimMenu" 1fr
    /  87.5% 12%;

    }
    .slimMenu{
        width:12vw;
    }

    .smallLogo{
        width:75%;
        height: 75%;
    }
    .logo {


        width: 60%;
        height: 60%;
    }
    .menuIcons{
        width: 5vw;
        height:5vh;


    }
}

