::-webkit-scrollbar { width: 0; }

.full{
    font-size: clamp(12px, 1.2vw, 20px);

}
button {  /* resetting button styles */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: inherit;
}

.navExpandButton{
    position:absolute;

}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #F8F8F8;
    margin-bottom: 2px;
}

.logo{


    width:50%;
    height: 50%;

    transition-property: width, height;
    transition-duration: 0.5s ;
    transition-timing-function: ease-out;


}
.smallLogo{
    width: 65%;
    height: 65%;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.body {
    margin:auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;

    transition: grid 0.5s ease-out 0.1s;
    grid:
    "all menu" 1fr
    / 79.5% 20%;
}
.body-slimMenu {
    margin:auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;

    grid:
    "all slimMenu" 1fr
    /  91.5% 8%;
    transition: grid 0.5s ease-out 0.10s;
}
.wholeContainer{

    grid-area: all;
    text-align: center;

}
.slimMenu{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width:8vw;
    transition: width 0.5s ease-out 0.10s;

    grid-area: slimMenu;
    background: #F8F8F8;
    overflow-y: auto;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;

    width: 20vw;
    transition: width 0.5s ease-out 0.10s;
    grid-area: menu;
    background: #F8F8F8;
    overflow-y: auto; /* Dodaj pionowy scroll, jeśli zawartość przekracza wysokość menu */
}
.menuNav{
    position:relative;
    height: 100%;
    width: 100%;
    justify-content: center;

    background: #F8F8F8;

}
.navDiv{
    position:relative;
    padding:1vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;


}
.navDivMain{

    position:relative;
    padding:1vh;
    height: 10vh;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;

}

.menuIcons{

    width:4vw;
    height: 4vh;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}

a{
    text-decoration: none;

}
a:visited{
    color:black;

}
a:link{
    color:black;

}
.menuNavButton{

    margin:auto;
    display:grid;
    border:none;
    background-color: #F8F8F8;
}

.invisible{
    display:none;
}
.navDiv h3{
    font-size: 120%;
}
.space{
    margin-right:1vw;

}