/*główny kontener lodówki*/
.fridgeContainer{
    height:99%;
    position: relative;


}
{/*wewnętrzny kontener lodówki*/}
.fridge{
    height:99%;
    position: relative;

}
{/*lista produktów na stronie lodówki*/}
.fridgeList{
    height:100%;
    position: relative;
    display:flex;
    justify-content: center;

}
{/* lampka */}
.light-bulb{
    position: absolute; /*stałe miejsce na stronie względem rodzica*/
    top:0;
    right:0;

    padding-right: 0.5vw;
    padding-top: 0.5vh;
    height:3vh;
    width:3vw;

}
{/* lampka - z lewej strony */}
.light-bulb.left{
    position: absolute;
    top:0;
    left:0;

    padding-right: 0.5vw;
    padding-top: 0.5vh;
    height:3vh;
    width:3vw;

}

{/* pseudoklasa ikony żarówki */}
.bulb::before{
    content: '';
    position:absolute; /* stała pozycja na stronie względem rodzica */
    top:-50px; /* w połowie */
    left:23px;
    width:35px;
    height:80px;
    background:#444;
    border-radius: 10px;
    z-index: 100; /* na wierzchu */
}
/*.light {*/
/*    position: absolute;*/
/*    top:35%;*/
/*    left: 25%;*/
/*    width: 35%;*/
/*    height: 42%;*/
/*    background-color: #fff;*/
/*    border-radius: 66%;*/
/*    opacity: 0;*/
/*    transition: opacity 1.5s;*/
/*    box-shadow: 0 0 1em #f1c40f;*/
/*}*/
{/* ikona żarówki */}
.bulb{
    height: 100%;
    width: 100%;
    border-radius:50%;

}


{/* włączone światło */}
.light-bulb.on .light {
    opacity: 0.8; /*przeźroczystość 20%*/
    width:1vw;
    height:1vh;
    box-shadow: 0 0 1vw #f1c40f, /*ustawianie cienia*/
    0 0 2vw #f1c40f,
    0 0 3vw #f1c40f,
    0 0 4vw #f1c40f,
    0 0 5vw #f1c40f,
    0 0 6vw #f1c40f;

}
.light-bulb.on .bulb {
    background-color: #f1c40f;

    box-shadow: /*ustawianie cienia*/
    -1vh 0 2vw #f1c40f,
    -2vh 0 3vw #f1c40f,
    -3vh 0 4vw #f1c40f,
    -4vh 0 5vw #f1c40f,
    -5vh 0 6vw #f1c40f,
    -3vh -1vh 7vw #f1c40f,
    -2vh -2vh 8vw #f1c40f,
    0 0 1vw #f1c40f,
    0 0 2vw #f1c40f,
    0 0 3vw #f1c40f,
    0 0 4vw #f1c40f,
    0 0 5vw #f1c40f,
    0 0 6vw #f1c40f,
    0 0 7vw #f1c40f,
    0 0 8vw #f1c40f,
    0 1vw 2vw #f1c40f,
    0 2vw 3vw #f1c40f,
    0 3vw 4vw #f1c40f,
    0 4vw 5vw #f1c40f,
    1vw 0 7vw #f1c40f,
    2vw 0 9vw #f1c40f,
    -1vw 0 9vw #f1c40f,
    -2vw 0 13vw #f1c40f,
    -3vw 0 16vw #f1c40f,
    -1vw 1vh 2vw #f1c40f,
    -5vw 2vh 5vw #f1c40f,
    -7vw 4vh 7vw #f1c40f;



}

/*ustawienia dla okna do szerokości 1200px*/
@media only screen and (max-width: 1200px) {

    .bulb{
        height: 125%;
        width: 125%;
        border-radius:50%;

    }
    .light-bulb{

        right:1vw;

    }
}
/*ustawienia dla okna do szerokości 1000px*/
@media only screen and (max-width: 1000px) {

    .bulb{
        height: 130%;
        width: 130%;
        border-radius:50%;

    }
    .light-bulb{

        right:1vw;

    }
    .light-bulb.left{

        left:1vw;

    }
}
/*ustawienia dla okna do szerokości 600px*/
@media only screen and (max-width: 600px) {

    .bulb{
        height: 150%;
        width: 150%;
        border-radius:50%;

    }
    .light-bulb{

        right:1vw;

    }
    .light-bulb.left{

        left:1vw;

    }
}