.accountContainer {
    display: grid;
    place-items: center;   /* Wyśrodkowanie w obu osiach */
    height: 100vh;
}

.accountInfo {
    display: grid;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width:50%;
    height:80%;
    margin:auto;

}


.accountPhotoImage {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 2px solid #007BFF;
}


.editAccount h3 {
    margin: 0;
    color: #333;
}

.editAccount button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    transition: background-color 0.3s;
}

.editAccount button:hover {
    background-color: #0056b3;
}



@media only screen and (max-width: 1800px) {
    .accountPhotoImage {
        width: 12vw;
        height: 12vw;

    }

}

@media only screen and (max-width: 1500px) {
    .accountPhotoImage {
        width: 14vw;
        height: 14vw;

    }
}


@media only screen and (max-width: 1200px) {
    .accountPhotoImage {
        width: 16vw;
        height: 16vw;
    }

}
@media only screen and (max-width: 1000px) {
    .accountPhotoImage {
        width: 20vw;
        height: 20vw;

    }
}
@media only screen and (max-width: 600px) {
    .accountPhotoImage {
        width: 24vw;
        height: 24vw;

    }
}