.editAccount button:hover {
    background-color: #0056b3;
}
.accountName H3 , .accountPassword H3{

    margin-bottom:0;

}
/*wejścia kontenera ze zdjęciem oraz informacjami o użytkowniku*/
.accountInfo input {
    width: 80%;  /*szerokość*/
    border-radius: 5px; /* zaokrąglenie krawędzi */
    border: 1px solid #ccc; /* ustawienie krawędzi: jego szerokość, styl i kolor */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* cień */
    transition: box-shadow 0.3s, border-color 0.3s;  /* płynna zmiana koloru krawędzi oraz cienia w czasie 0.3s */
    margin-bottom: 10px; /* margines dolny */
    padding: 10px 0 10px 0; /* odstęp wewnętrzny z góry oraz dołu */
    font-size: 16px; /* wielkość czcionki */
    justify-content: center; /* wyśrodkowania kontentu */
    align-items: center; /* wyśrodkowanie przedmiotów */
}

.accountPhoto{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* kiedy wprowadzamy zmiany do znacznika wejściowego */
input:focus {
    outline: none; /* usuwa linię zewnętrzną znacznika */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* nadanie cienia */
    border-color: #7fb0d5; /* zmiana koloru krawędzi */
}
.file-input-label {
    margin-top:1vh;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input-label:hover {
    background-color: #0056b3;
}


/* Styl dla przycisków educji konta */
.editAccount button {
    width: 80%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #7fb0d5;
    color: white;
    transition: background-color 0.3s;
    font-size: 15px;
    margin-top: 10px;

    justify-content: center;
    align-items: center;

}
/* zmiana koloru nagłówka h3 klasy editAccount */
.editAccount h3 {

    color: #333;
}
/* zmiana koloru tła przycisku klasy editAccount po najechaniu na niego*/
.editAccount button:hover {
    background-color: #0056b3;
}

/*dla ekranów o maxymalnej szerokości 1200px*/
@media only screen and (max-width: 1200px) {
    /*zmiana wielkości czcionki dla przycisków w klasie editAccount*/
    .editAccount button {
        font-size: 13px;

    }


}
/*dla ekranów o maxymalnej szerokości 600px*/
@media only screen and (max-width: 600px) {
    /*zmiana wielkości czcionki dla przycisków w klasie editAccount*/
    .editAccount button {
        font-size: 10px;

    }

}
