/* style konteneru formularza  */
.loginFormAll {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
/* styl dziecka konteneru formularza, który posiada kontenery z polami do wpisywania wartości */
.loginFormBox {
    position: relative;
    border: 3px solid #9dc5e8;
    padding: 1rem;
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-direction: column; /* ustawia kierunek w którym ustawiane są elementy */
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    max-width: 500px; /* maksymalna szerokość kontenera */
    width: 100%;
    background-color: #d4e8f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
/* rączka lodówki */
.loginFormBox::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 60px;
    background: linear-gradient(#9dc5e8, #b3cffd, #9dc5e8); /* kolor tła */
    border-radius: 10px 0 0 10px;
}

/* kontenery przyjmujące informacje od użytkownika */
.username, .password {
    margin: 5vh 4vw 2vh;
    min-height: 10vh;
    border: 2px solid #b3cffd;
    padding: 0.5vh;
    width: 90%;
}
/*style kiedy są używane */
.username:focus, .password:focus {

    background-color: #ffffcc;
    border-color: #b3cffd;
    box-shadow: 0 0 8px rgba(179, 207, 253, 0.5);
    outline: none;
}

/* Przycisk logowania */
.loginButton {
    border: 2px solid #b3cffd;
    margin-top: 5vh;
    padding: 0.5vw 0.5vw;
    width: 100%;
    background-color: #9dc5e8;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Przycisk rejestracji */
.registerButton {
    border: 2px solid #b3cffd;
    margin-top: 5vh;
    padding: 0.5vw 0.5vw;
    width: 100%;
    background-color: #9dc5e8;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #7fb0d5; /* zmiana koloru po najechaniu */
}
/* kontener z innymi możliwościami logowania */
.loginTypes {
    display: flex;

    margin-top: 4vh;
    margin-bottom: 5vh;
    padding: 3rem 0.5rem 0.5rem;
    width: 80%;
    justify-content: space-between; /* Rozdziela elementy równomiernie wzdłuż linii */
}

.loginGoogle, .loginFacebook {
    flex: 1; /* Każdy element będzie miał tę samą ilość miejsca */
    display: flex;
    height: 50%;
    width: 50%;
    margin: auto;
    justify-content: center; /* Wyśrodkowuje zawartość elementu wzdłuż linii */
    align-items: center; /* Wyśrodkowuje zawartość elementu wzdłuż krzyżowej osi */
    text-align: center; /* Wyśrodkowuje tekst */
    padding: 0.5rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;

}

.loginGoogle:hover, .loginFacebook:hover {
    background-color: #deeffc; /* Akcent po najechaniu myszą */
    transform: scale(1.1); /* Powiększa element o 10% */
    transition: transform 0.3s ease;

}

.googleLogo {

    width: 80%;
    height: 80%;

}

.facebookLogo {

    width: 80%;
    height: 80%;

}

.username input::placeholder {
    text-align: center;
}

