<!DOCTYPE html>
<html>
<head>
    <title>Video Stream</title>
    <script type="text/javascript">
        function checkForEndSignal() {
            var img = document.getElementById('stream');
            img.onload = function() {
                // Check for the special end signal
                if (img.naturalWidth === 100 && img.naturalHeight === 100) {
                    window.location.href = '/'; // Redirect to index route
                }
            };
        }
    </script>
</head>
<body onload="checkForEndSignal();">
    <img id="stream" src="{{ url_for('video_feed') }}" />
</body>
</html>
